<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Table Users</h1>
<br/>
<br/>
<table border="1">

    <tr>
        <th>id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Username</th>

    </tr>
    <tr th:each="user :${user}">
        <td th:utext="${user?.id}">id</td>
        <td th:utext="${user?.firstName}">FirstName</td>
        <td th:utext="${user?.lastName}">LastName</td>
        <td th:utext="${user?.age}">Age</td>
        <td th:utext="${user?.username}">username</td>

    </tr>

</table>
<br/>
<br/>
<a href="/logout"> Logout </a>
</body>
</body>
</html>