<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>

        body {

            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<form method="post" action="/login" class="mt-5">
    <div class="form-group">
        <label for=inputEmail3><h2><b>Please sign in</b></h2></label>
        <div class="col-100">
            <input name="j_username" class="form-control form-control-lg" id="inputEmail3" placeholder="Username">
        </div>
        <div class="col-100">
            <input name="j_password" class="form-control form-control-lg" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2 btn-block btn-lg">Sign in</button>
</form>

<br/>
</body>
</html>